@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: white;
  background: rgb(24, 33, 52);
  background: linear-gradient(90deg, rgba(24, 33, 52, 1) 0%, rgba(3, 15, 28, 1) 100%);
}

@layer utilities {
  .background {
    background: rgb(24, 33, 52);
    background: linear-gradient(90deg, rgba(24, 33, 52, 1) 0%, rgba(3, 15, 28, 1) 100%);
  }

  .headerLayout {
    grid-template-areas: "menu . linkedin github";
    grid-template-columns: max-content 1fr max-content max-content;
  }

  .icon {
    color: white;
    cursor: pointer;
  }

  .sidebar {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .lightglass {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
  }

  .darkglass {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 1);
    border-radius: 12px;
  }
}
