@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 22% 92%;
    --foreground: 18 21% 35%;

    --card: 27 22% 92%;
    --card-foreground: 18 21% 35%;

    --popover: 27 22% 92%;
    --popover-foreground: 18 21% 35%;

    --primary: 17 18% 35%;
    --primary-foreground: 27 22% 92%;

    --secondary: 26 47% 97%;
    --secondary-foreground: 18 21% 35%;

    --muted: 27 22% 20%;
    --muted-foreground: 18 22% 70%;

    --accent: 29 61% 84%;
    --accent-foreground: 18 21% 35%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 18 21% 35%;

    --border: 45, 4%, 58%;
    --input: 45, 4%, 58%;
    --ring: 29 61% 40%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 26 30% 5%;
    --foreground: 19 58% 87%;

    --card: 27 29% 6%;
    --card-foreground: 19 58% 87%;

    --popover: 27 29% 6%;
    --popover-foreground: 19 58% 87%;

    --primary: 17 54% 78%;
    --primary-foreground: 27 29% 6%;

    --secondary: 29 51% 10%;
    --secondary-foreground: 19 58% 87%;

    --muted: 28 29% 80%;
    --muted-foreground: 18 22% 40%;

    --accent: 29 61% 16%;
    --accent-foreground: 19 58% 87%;

    --destructive: 0 62% 30%;
    --destructive-foreground: 19 57% 10%;

    --border: 18 25% 30%;
    --input: 18 25% 30%;
    --ring: 29 61% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html.dark {
    --inset: 0 0 100% 0;
  }

  html.light {
    --inset: 100% 0 0 0;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@keyframes reveal {
  from {
    clip-path: inset(var(--inset));
  }

  to {
    clip-path: inset(0);
  }
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
}

::view-transition-old(root) {
  animation: none;
}

::view-transition-new(root) {
  animation-name: reveal;
}
